.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;


    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title_line {
        margin: 50% 0 30% 0;
    }

    &__gallery {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-around;
        overflow: hidden;
    }

    &__left {
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    &__right {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__img1,
    &__img2 {
        position: relative;
        margin-bottom: 2.7%;
    }

    &__img1 img,
    &__img2 img {
        transition: linear 0.2s;
    }

    &__img1:hover img,
    &__img2:hover img {
        filter: saturate(.5) brightness(.5);

    }

    &__img2 {
        margin-bottom: 4.5%;
    }

    &__double {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 20px;
        background-image: url("/img/frame.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        transition: linear 0.2s;

    }

    &__img1:hover &__box,
    &__img2:hover &__box {
        padding: 25px 25px;

    }


    &__img--line {
        width: 90%;
        height: 2px;
        background-color: #fff;
        margin: 5% 0;
    }

    &__img--title {
        text-transform: uppercase;
        font-size: 25px;
        font-family: 'Playfair Display', serif;

    }

    &__img--subtitle {
        font-size: 16px;
        font-family: 'Raleway', sans-serif;

    }

    &__button {
        text-transform: uppercase;
        background-color: rgb(208, 124, 124);
        font-size: 17px;
        color: rgb(255, 255, 255);
        font-family: 'Raleway', sans-serif;
        width: 200px;
        height: 50px;
        border: none;
        margin: 5% 0 2% 0;
    }
}



@media screen and (max-width: 600px) {
    .works {
        &__gallery {
            flex-direction: column;
        }

        &__double {
            flex-direction: column;
            margin: auto;
        }
    }
}